/*
Error: Invalid CSS after "    sourcemap": expected ";", was ": 'none'"
        on line 11 of try.scss

6:   color: $primary-color;
7: }
8: 
9: options: {
10:     compress: false,
11:     sourcemap: 'none'
12:   }

Backtrace:
try.scss:11
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1096:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1141:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:1141:in `rethrow'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:766:in `try_declaration'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:661:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:650:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:642:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:636:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:396:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:62:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    sourcemap\": expected \";\", was \": 'none'\"\A         on line 11 of try.scss\A \A 6:   color: $primary-color;\A 7: }\A 8: \A 9: options: {\A 10:     compress: false,\A 11:     sourcemap: 'none'\A 12:   }"; }
