$font-stack:    Helvetica, sans-serif;
$primary-color: #333333;

div {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #DDDDDD;
}

input {
    border: 2px solid;
    border-radius: 25px;
    line-height: 140%;
    text-indent: 10px;
}